@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

a {
    color: #16a085;
    text-decoration: none;
    font-weight: bold;
}

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


#mobile, #laptop {
    display: none;
}

/* Custom CSS
 * --------------------------------------- */
body{
    font-family: "Open Sans", sans-serif;
    color: #333;
    color: rgba(0,0,0,0.5);
}
.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}
h1{
    font-size: 6em;
}
p{
    font-size: 2em;
}
.intro p{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
.section{
    text-align:center;
}
#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}
.twitter-share-button{
    position: fixed;
    z-index: 99;
    right: 149px;
    top: 9px;
}
#download{
    margin: 10px 0 0 0;
    padding: 15px 10px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
    text-decoration:none;
    color:#fff;
}
#download:hover{
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #2F96B4;
    background-position: 0 -15px;
}
#infoMenu{
    height: 20px;
    color: #f2f2f2;
    position:fixed;
    z-index:70;
    bottom:0;
    width:100%;
    text-align:right;
    font-size:0.9em;
    padding:8px 0 8px 0;
}
#infoMenu ul{
    padding: 0 40px;
}
#infoMenu li a{
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}
#infoMenu li a:hover{
    text-decoration:underline;
}
#infoMenu li{
    display:inline-block;
    position:relative;
}
#examplesList{
    display:none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width:638px;
    text-align:left;
}
#examplesList ul{
    padding:0;
}
#examplesList ul li{
    display:block;
    margin: 5px 0;
}
#examplesList ul li a{
    color: #BDBDBD;
    margin:0;
}
#examplesList ul li a:hover{
    color: #f2f2f2;
}
#examplesList .column{
    float: left;
    margin: 0 20px 0 0;
}
#examplesList h3{
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
    position:fixed;
    bottom: 10px;
    right:10px;
    z-index: 999;
 }



body{
    color: #333;
    font-family: "Open Sans", sans-serif;
}


/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: "Open Sans", sans-serif;
    margin:0;
    padding:0;
}
h2{
    font-size: 2em;
    margin: 0 0 18px 0;
    font-family: "Open Sans", sans-serif;
}




/* Common styles
* --------------------------------------- */
.section{
    text-align:center;
    overflow:hidden;
}
.wrap{
    width: 1180px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.box{
    text-align: left;
    color: #808080;
    font-size: 1.2em;
    line-height: 1.6em;
}




/* Section 0
* --------------------------------------- */
#section0 img{
    margin: 40px 0 0 0;
    max-height: calc(100% - 200px);
    max-width: 100%;
}

#section0 {
    color: white;
}

#section0 h1 {
    color: white;
}


/* Section 1
* --------------------------------------- */
#section1 img{
    position:absolute;
    left: 150px;
    top: 100px;
}

#section1 .box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -192px;
    margin-left: 89px;
    width: 395px;
    z-index: 1;
}
#section1 .imgsContainer{
    display: block;
    position: absolute;
    z-index: 1;
    top: 42%;
    left: 58%;
    margin-top: -325px;
    margin-left: -747px;
    width: 800px;
    height: 696px;
}
#section1 img{
    height: 100%;
}
/*screen resolutions between 620px and 800px*/
@media all and (min-width: 620px) and (max-width: 800px){
    #section1 .imgsContainer{
        margin-top: -278px;
        margin-left: -685px;
        width: 647px;
        height: 563px;
    }
}

/*screen resolutions lower than 620px*/
@media all and (max-width: 620px){
    #section1 .imgsContainer{
        margin-top: -208px;
        margin-left: -516px;
        width: 534px;
        height: 464px;
    }
}


#desktop {
    opacity: 0;
}
#desktop.active {
    top: 14px;
    opacity: 1;
    top:
}

/* Section 2
* --------------------------------------- */
#section2.moveUp .imgsContainer{
    top: 50%;
}

#section2 .box h2,
#section2 .box p {
    color: white;
}

#section2.moveDown .imgsContainer,
#staticImg .imgsContainer{
    top: 90%;
}

#section2 .imgsContainer{
    top: 50% !important;
    position: absolute;
    margin-top: -270px;
}

#section2 .box{
    top: 50%;
    right: 0;
    position: absolute;
    width: 582px;
    margin-top: -120px;
}

#staticImg{
    display: block;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 0;
    width: 100%;
    min-width: 980px;
    height: 100%;
}
#staticImg.moveDown{
    top: 300%;
}
#staticImg.moveDown .imgsContainer{
        top: 50%;
}
#staticImg.moveDown img{
    top: 155px;
}

#staticImg.active .imgsContainer{
    top: 50%;
}


#staticImg.active img{
    top: 487px;
}





/* Section 3
* --------------------------------------- */
#section3 .imgsContainer{
    top: 50%;
}

#section3 img{
    top: 155px;
    left: 455px;
    position: absolute;
}
#section3 .box{
    text-align: center;
    margin: 10% 0 0 0;
}



/* Menu
* --------------------------------------- */
#infoMenu.whiteLinks li:nth-child(1) a,
#infoMenu.whiteLinks li:nth-child(2) a,
#infoMenu.whiteLinks li:nth-child(3) a{
    color: #fff;
}
#infoMenu{
    font-family: "Open Sans", sans-serif;
}


/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.fullPage-tooltip{
    color: #AAA;
}
#fullPage-nav span, .fullPage-slidesNav span{
    border-color: #AAA;
}
#fullPage-nav li .active span, .fullPage-slidesNav .active span{
    background: #AAA;
}

.box > p {
    margin-top: 30px;
    font-size: 18px;
}

iframe {
    width: 100%;
    height: 100%;
}

select.language {
    position: fixed;
    z-index: 9999;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #3498DB;
    top: 0;
}
