@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    background: #ecf0f1;
}
.desktop {
    position: absolute;
    top: -700px;
    left: 200px;
}

.desktop i.fa {
    font-size: 807px;
    position: relative;
    line-height: 0;
    color: #1abc9c;
    text-shadow: 4px 4px 0 #16a085;
}

.desktop .iframe-wrapper {
    position: relative;
    top: 773px;
    height: 1127px;
    width: 1872px;
    left: 58px;
    z-index: 1;
}
.desktop iframe {
    height: 100%;
    width: 100%;
    -ms-zoom: 0.4;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 4;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 0 0;
}

.tablet {
    position: absolute;
    top: -595px;
    left: 823px;
    z-index: 2;
}

.tablet i.fa {
    font-size: 710px;
    -webkit-transform: rotate(90deg);
    color: rgb(0, 82, 128);
    color: #e74c3c;
    text-shadow: 4px 4px 0 #c0392b;
}

.tablet .iframe-wrapper {
    width: 969px;
    position: relative;
    height: 847px;
    top: 777px;
    left: -200px;
    z-index: 1;
}
.tablet iframe {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.42);
}


.mobile {
    position: absolute;
    top: -415px;
    left: 73px;
    z-index: 2;
}

.mobile i.fa {
    font-size: 710px;
    color: rgb(0, 82, 128);
    color: #3498db;
    text-shadow: 4px 4px 0 #2980b9;
}

.mobile .iframe-wrapper {
    width: 480px;
    position: relative;
    height: 679px;
    top: 679px;
    left: -88px;
}

.mobile iframe {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.49);
}