.desktop {
    position: absolute;
    top: -700px;
    left: 50px;
}

.tablet {
    position: absolute;
}

.desktop i.fa {
    font-size: 807px;
    position: relative;
    line-height: 0;
}

.desktop .iframe-wrapper {
    position: relative;
    top: 773px;
    height: 1127px;
    width: 1872px;
    left: 58px;
}
.desktop iframe {
    height: 100%;
    width: 100%;
    -ms-zoom: 0.4;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 4;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 0 0;
}
.tablet {
    position: absolute;
    top: -595px;
    left: 823px;
}
.tablet i.fa {
    font-size: 710px;
    -webkit-transform: rotate(90deg);
    color: rgb(0, 82, 128);
}

.tablet .iframe-wrapper {
    width: 969px;
    position: relative;
    height: 847px;
    top: 777px;
    left: -200px;
}
.tablet iframe {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.42);
}